// .navbar-form{
//     display: flex;
// }
// .col-md-6 {
//     flex: 1;
//     // padding: 0px 0px 0px 400px;
// }

// .input-group{
//     flex: 1;
// }

.form-group {
    padding-bottom: 10px;
    position: relative;
    margin: 10px 0 0 !important;
}