<!-- <div class="mat-elevation-z8" [hidden]="isNewUser">
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="newEmployee()">+ New Partner</button>
    </div>
    <table #table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>
         <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

         <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

         <ng-container matColumnDef="momoCode">
            <th mat-header-cell *matHeaderCellDef> Momo Code </th>
            <td mat-cell *matCellDef="let element"> {{element.momoCode}} </td>
        </ng-container>

    
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
             
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openDialog(element)">
                        <mat-icon>add_shopping_cart</mat-icon>
                        <span>Sold</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
</div>



<div *ngIf="isNewUser">
    <app-partner-edit (backToTitle)="backToProduct($event)"></app-partner-edit>
</div> -->



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="table-header">
                <div class="search_area">
                    <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" name="searchPartner" [(ngModel)]="searchPartner" placeholder="Search...">
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="placement">
                    <button class="btn btn-primary" (click)="newPartner()">New</button>
                </div>
            </div>
            <!-- <div class="col-md-4 placement">
                <button class="btn btn-primary btn-block " (click)="newPartner()">New</button>
            </div> -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Partners</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <!-- <th>ID</th> -->
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Momo Code</th>
                                    <!-- <th>Created On</th> -->
                                    <th>Action </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of partners |genericfilter:searchPartner">
                                        <td>{{user.name}}</td>
                                        <td>{{user.location}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.phone}}</td>
                                        <td>{{user.momoCode}}</td>
                                        <!-- <td>{{user.createdOnDate | date}}</td> -->
                                        <td class="action paytablebtns maxwidth_action">
                                            <div class="tableaction_btn">
                                                <a class="action_button">More..</a>
                                                <ul class="actionlist_cont">
                                                    <li>
                                                        <a class="actionitem" (click)="addService(user)">Service</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <!-- <td class="text-primary"> $36,738 </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>