// mat-form-field{
//     width: 400px;
// }

form.normal-form {
    margin: 50px;
}
.controles-container{
    width: 100%;
    padding: 5%;
}

.controles-container > * {
    width: 100%;
}

.add-bottom-padding{
    padding-bottom: 10px;
}

mat-radio-group mat-radio-button{
    margin-left: 5px;
}
// mat-card-title{
//     text-align: center;
// }


.button-row button{
    margin: 5px;
}