<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Create Partner Service</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form #userform="ngForm" (ngSubmit)="createPartnerService(userform)" autocomplete="off"
                            novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- <label class="bmd-label-floating">Choose Service</label> -->
                                        <select class="form-control" id="businessServiceId" name="businessServiceId"
                                            [(ngModel)]="partnerService.businessServiceId">
                                            <option value="">Select Service</option>
                                            <option *ngFor="let business of bussnessServices" [value]="business.id">
                                                {{business.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Price</label>
                                        <input type="text" id="price" class="form-control" name="price"
                                            [(ngModel)]="partnerService.price">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Seats</label>
                                        <input type="text" id="seats" class="form-control" name="seats"
                                            [(ngModel)]="partnerService.seats">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Minimum Duration</label>
                                        <input type="text" id="minDuration" class="form-control" name="minDuration"
                                            [(ngModel)]="partnerService.minDuration">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                            <button type="button" (click)="closeForm()"
                                class="btn btn-danger pull-right">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>