<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">{{headerName}}</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form #userform="ngForm" (ngSubmit)="createPartnerService(userform)" autocomplete="off"
                            novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control" id="businessServiceId" name="businessServiceId"
                                            [(ngModel)]="partnerService.businessServiceId">
                                            <option value="">Select Service</option>
                                            <option *ngFor="let business of bussnessServices" [value]="business.id">
                                                {{business.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label *ngIf="!isUpdate" class="bmd-label-floating">Price</label>
                                        <input type="text" id="price" class="form-control" name="price"
                                            [(ngModel)]="partnerService.price">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label *ngIf="!isUpdate" class="bmd-label-floating">Seats</label>
                                        <input type="text" id="seats" class="form-control" name="seats"
                                            [(ngModel)]="partnerService.seats">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label *ngIf="!isUpdate" class="bmd-label-floating">Min Duration</label>
                                        <input type="text" id="minDuration" class="form-control" name="minDuration"
                                            [(ngModel)]="partnerService.minDuration">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" *ngIf="!isUpdate" class="btn btn-primary pull-right">Submit</button>
                            <button type="submit" *ngIf="isUpdate" class="btn btn-primary pull-right">Update</button>
                            <button type="button" (click)="closeServiceEdit()" class="btn btn-danger pull-right">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4" *ngIf="isUpdate">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:;">
                            <!-- <img class="img" src="../assets/img/faces/marc.jpg" /> -->
                            <img class="img" [src]="'data:image/jpg;base64,'+partnerService?.imageData">
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <!-- <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I
                            love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p> -->
                        <input *ngIf="isChangingImageService" #fileUpl class="file-uploader" type="file" id="btnUpload"
                            value="Upload" (change)="fileChange1($event)" />
                        <a *ngIf="isChangingImageService" href="javascript:;" class="btn btn-primary btn-round"
                            (click)="savePartnerServiceImage()">Submit</a>
                        <a *ngIf="!isChangingImageService" href="javascript:;" class="btn btn-primary btn-round"
                            (click)="changeToUploadImage()">Change Image</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>